{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.2"}
  org.clojure/tools.logging {:mvn/version "1.3.0"}
  org.slf4j/slf4j-simple {:mvn/version "2.0.17"}
  com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}

 :aliases
 {:dev {:extra-paths ["dev" "resources-dev"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                     com.stuartsierra/component.repl {:mvn/version "1.0.0"}}}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.4.0"}
                       cider/cider-nrepl {:mvn/version "0.57.0"}
                       cider/piggieback {:mvn/version "0.6.1"}}
         :jvm-opts ["-Djdk.attach.allowAttachSelf"]}
  :repl {:main-opts ["-m" "nrepl.cmdline"
                     "--interactive"
                     "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}
  :test {:main-opts ["-e" "(require 'dev)" "-m" "kaocha.runner"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :ns-default build
          :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}}}
